<!DOCTYPE html>
<html>
 <head>
  <title>Add a New Drugs</title>
  <script type="text/javascript">
  function addField (argument) {
	
        var brandTable = document.getElementById("brandTable");
        var currentIndex = brandTable.rows.length;
        var currentRow = brandTable.insertRow(-1);
	if (currentIndex <5){
        var brandBox = document.createElement("input");
	
        brandBox.setAttribute("name", "brand" + currentIndex);
		
        var currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(brandBox);
		}else{
		window.alert("Only 5 brand names can be added.");
		}

    }
  </script>
 </head>
<body>
  <form action="../rest/addDrug" method="POST">
  <label for="name">Name</label>
  <input name="name" />
  <br/>
   <h2> Brand Names: </h2>
  <table id="brandTable">
    <tr>
        <td><input type="text" name="brand"></td>
        <td><input type="button" class="button" value="Add another" onclick="addField();"></td>
    </tr>
</table>
<br/>
 <h2>SideEffects:</h2>
  <textarea   NAME="sideEffects"></textarea>
  <br/>
  <h2>Indication:</h2>
  <textarea   NAME="indication"></textarea>
  <br/>
  <h2>Interactions:</h2>
  <textarea  NAME="interactions"></textarea>
  <br/>
  <br/>
  <h1> Adult</h1>
  <h2> Oral </h2>
  <h3> Administration <h3>
  <textarea  NAME="oralAdmin"></textarea>
  <br/>
  <h3> Dose </h3>
	<textarea  NAME="oralAdmin"></textarea>
  <input type="submit" value="Submit" />
  </form>
</body>
</html> 
