<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"><!-- Bootstrap Core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <title>$title</title>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
	<script>
function deleteDrug(toDelete) {
	$.ajax({
    url: "../secure/drugs/" + toDelete,
    type: 'DELETE',
    success: function(result) {
		location.reload();
        alert("Drug was deleted from database");
    }
});
	
}
	</script>
	<script>
	$(function(){
          $("#drugsTable").tablesorter({widgets: ['zebra']});
        });
	</script>
	<style>
	.sort{
	cursor: pointer; cursor: hand; 
	color:#0066CC;
	}
	</style>
</head>

<body>
    <!-- Navigation -->

  <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../">Home</a>
                    </li>

                    <li>
                        <a href="../secure/drugs">View Drugs</a>
                    </li>
					
					<li>
                        <a href="../secure/pathogens">View Pathogens</a>
                    </li>
					
                    <li>
                        <a href="../secure/addDrug">Add Drug</a>
                    </li>

                    <li>
                        <a href="../secure/addPathogen">Add Pathogen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <h1>$title</h1>

        <table id="drugsTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sort">Name</th>
					
					<th>Type</th>

                    <th class="sort">Brand Names</th>

                    <th>Indication</th>

                    <th>Interactions</th>
                </tr>
            </thead>

            <tbody>$tablerow</tbody>
        </table>
    </div>


</body>
</html>